.typography-line {
    padding-left: 5%;
    margin-bottom: 0px;
    position: relative;
    display: block;
    width: 100%;
  }

  .typography-line span {
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
    text-transform: none;
  }


  @media screen and (max-width: 576px) {
    .typography-line span {
      width: 70px;
      margin-left: 5px;
    }
  }

  .fix-height-tab{
    max-height: 300px;
    overflow: auto;
  }