.loader {
    border: 16px solid #525f7f; /* Light grey */
    border-top: 16px solid #fd5d93; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    margin-left: 35%;
    margin-top: 25%;
    z-index: 11;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.inner-row{
    width: 90%;
    margin-left: 5%;
}

.text-left-center{
    text-align: left;
    min-width: 175%;
}

.contact-info-text{
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

span.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    font-size: 1em;
}

span.fab {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    font-size: 1em;
}

span.fa:hover {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #fd5d93;
    padding: 0.5em 0.6em;
    color: #fd5d93;
}

span.fab:hover {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #fd5d93;
    padding: 0.5em 0.6em;
    color: #fd5d93;
}

textarea:focus { 
    outline: none !important;
    border-color: #e44cc4;
}

.icon-border{
    border: 2px solid white;
    border-radius: 25%;
}

textarea{
    border-color: #2b3553;
    width:100%; 
    height:100px;
    border-radius:5px;
    border-color: 1px solid #2b3553; 
    background-color:transparent;
    color:white;
}

.bg-info{
    background-color: linear-gradient(#5e72e4, #efefef);
}

.div-group{
    display: flex;
    flex-direction: row;
}

.div-addr{
    margin:2px; 
    padding:5px; 
    max-width: 50%; 
    text-align: center;
    border-radius : 2px;
    display: flex;
    min-width: fit-content;
}

.div-email, .div-phone{
    margin:2px; 
    padding:5px; 
    min-width: 25%;
    max-width: 25%; 
    text-align: center;
    border-radius : 2px;
}

.div-map{
    padding:5px;
    margin:2px; 
    max-width: 50%
}

.contact-form{
    padding:2px;  
    max-width: 50%;  
    min-width: 50% 
}

.mapouter{
    position:relative;
    text-align:right;
    height:300px;
    width:400px;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:300px;
    width:400px;
}

iframe{
    height: 300px;
    width: 400px;
}

.card-register .card-header img {
    position: absolute;
    margin-left: -50px;
    margin-top: -150px;
    border-radius: 17%;
    width: 460px;
    height: 320px;
}

.card-register .card-header {
  padding: 0 0 10px;
  overflow: hidden;
}

.padd-2{
    padding : 2%;
}

@media (max-width: 550px) {

    .loader {
        border: 10px solid #525f7f; /* Light grey */
        border-top: 10px solid #fd5d93; /* Blue */
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 2s linear infinite;
        position: absolute;
        margin-left: 35%;
        margin-top: 55%;
        z-index: 11;
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }


    .div-group {
      flex-direction: column;
    }

    .div-addr{
        margin:5px; 
        padding:5px; 
        max-width: 96%; 
        text-align: center;
        border-radius : 2px;
    }

    .div-email, .div-phone{
        margin:5px; 
        padding:5px; 
        min-width: 96%;
        max-width: 96%; 
        text-align: center;
        border-radius : 2px;
    }
    
    .div-map{
        padding:5px;
        margin:5px; 
        max-width: 96%;
    }

    .contact-form{
        padding:2px; 
        margin: 5px; 
        max-width: 96%;  
        min-width: 96% 
    }

    .card-register .card-header .card-title {
        position: relative;
        font-size: 3em;
        font-weight: 900;
        color: #222a42;
        text-transform: lowercase;
        margin-left: -5px;
        z-index: 1;
    }

    .card-register .card-header img {
        position: absolute;
        margin-left: -50px;
        /*margin-top: -150px;*/
        border-radius: 20%;
        width: 300px;
        height: 175px;
        margin-top: 0px;
        padding: 0 0 10px;
    }

    div.card-header{
        padding: 0 0 10px;
    }

    .card-register .card-footer {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    /*.card-register .card-header {
        padding: 0 0 50px;
        overflow: hidden;
    }*/

    h2{
        margin-bottom: 0px;
    }

    .mapouter{
        position:relative;
        text-align:right;
        height:175px;
        width:400px;
    }
    .gmap_canvas {
        overflow:hidden;
        background:none!important;
        height:175px;
        width:400px;
    }
    
    iframe{
        height: 175px;
        width: 400px;
    }

    .footer .title {
        text-align: center !important;
    }

    span.fa {
        display: inline-block;
        border-radius: 60px;
        box-shadow: 0px 0px 2px #888;
        padding: 0.5em 0.6em;
    }

    span.fab {
        display: inline-block;
        border-radius: 60px;
        box-shadow: 0px 0px 2px #888;
        padding: 0.5em 0.6em;
    }
    
    span.fa:hover {
        display: inline-block;
        border-radius: 60px;
        box-shadow: 0px 0px 2px #fd5d93;
        padding: 0.5em 0.6em;
        color: #fd5d93;
    }

    span.fab:hover {
        display: inline-block;
        border-radius: 60px;
        box-shadow: 0px 0px 2px #fd5d93;
        padding: 0.5em 0.6em;
        color: #fd5d93;
    }

    .text-left-center{
        text-align: left;
        margin-top: 4px;
        min-width: fit-content;
        margin-left: 10px;
    }

    .contact-info-text{
        margin-left: 0px;
        text-decoration: none;
        color: white;
    }
  }


